<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>婚姻调查</title>
    <style>
        form{
        margin: 20px;
      align-items: center;
        }

      label{
        display: block;
      margin-top: 10px;
        }
     input[type="text"], input[type="number"] {
      width: 50%;
      padding: 5px;
      margin-top: 5px;

    </style>

</head>
<body>
    <script>
function finish()
{
  let age = document.getElementById('age').value;
  age = parseInt(age);
  document.getElementById('message').innerText = '谢谢参与';
    setTimeout(function()
    {
        window.location.reload(); // 刷新页面
    }, 3000); // 3000毫秒后执行，即3秒后刷新页面
}

function checkage() {
  // 获取用户输入的年龄
  let age = document.getElementById('age').value;
  // 将年龄转换为数字以便进行判断
  age = parseInt(age);
  // 根据年龄禁用或启用婚姻状况复选框
  if (age < 18) {
    document.getElementById('ismarry').disabled = true;
  } else {
    document.getElementById('ismarry').disabled = false;
  }
}
    </script>

<h1>婚姻记录调查问卷</h1>
<form>
    <label for="name">姓名：</label>
    <input type="text" id="name" name="name">
    <br>
    <label for="age">年龄：</label>
    <input type="text" id="age" name="age" onblur="checkage()">
    <br>
    <label>性别：</label>
    <label for="male">男：</label>
    <input type="radio" id="male" name="female">
    <label for="female">女：</label>
    <input type="radio" id="female" name="female">
    <br>
    <label for="ismarry">是否有婚姻过往</label>
    <input type="checkbox" id="ismarry" name="ismarry">
    <br>
    <button type="button" onclick="finish()" id="marrybutton">提交</button>
    </form>
    <p id="message"></p>




<script src="jsmodel1.js"></script>
</body>
</html>